.header{
	color:red;
	size:20px;
	font-family:Trajan Pro;
	background-color:indigo;
}
.c{
	color: #ff7700;
}
h3{
	color:hot orange;
	font-family:Kristen ITC;
}
body{
	background-color: #fcd876;
    
    
}
